// .image{
//     background-image: url("../../../../assets/images/petrol\ pump\ 2");
//     background-color: #ff9fdf;
//     background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
//   border: 1px solid #666;
//   height: 10em;
// }
.login{
    margin-left: 30%;

}
.Login{
    margin-left: 20%;
}
.validation{
color: red;
}