.mx-4{
    background-color: whitesmoke;
}
.input{
    background-color: #FFEBB7;
}
.signup{
    background-color: #243763;
}
.vali{
    background-color: red;
}
.login{
    margin-left: 15%;
}
.Page{
    margin-left: 15%;
}
.Create{
    margin-left: 30%;
}
// .image{
//     background-image: url("../../../../assets/images/petrol\ pump\ 2");
//     background-color: #ff9fdf;
//     background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
//   border: 1px solid #666;
//   height: 10em;
  

// }
.vali{
    background-color: red;
}
.Sign{
    margin-left: 35%;
}
.validation{
 color: red;
}
