
<!-- <form cForm>
    <div class="mb-3">
      <label cLabel for="exampleFormControlInput1">Company Name</label>
      <input cFormControl
             id="exampleFormControlInput1"
             placeholder="Company Name"
             type="text"/>
    </div>
    <div class="mb-3">
      <label cLabel for="exampleFormControlTextarea1">Address</label>
      <textarea cFormControl id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label cLabel for="exampleFormControlInput1">Phone no</label>
        <input cFormControl
               id="exampleFormControlInput1"
               placeholder="Phone No"
               type="number"        />
      </div>
      <div class="mb-3">
        <label cLabel for="exampleFormControlInput1">Tin No</label>
        <input cFormControl
               id="exampleFormControlInput1"
               placeholder="Tin No"
               type="text"/>
      </div>
      <div class="mb-3">
        <label cLabel for="exampleFormControlInput1">Tin date</label>
        <input cFormControl
               id="exampleFormControlInput1"
               placeholder="Tin Date"
               type="date"/>
      </div>
      <div class="mb-3">
        <label cLabel for="exampleFormControlInput1">RSL NO.</label>
        <input cFormControl
               id="exampleFormControlInput1"
               placeholder="RSL NO."
               type="number"/>
      </div>
  </form> -->
  <!-- <c-card-body>
     <a routerLink="/register" class="login">register</a> 
</c-card-body> -->