<!-- <div class="card mnb" style="width: 18rem;">
    <div class="card-body "> -->
<c-card>
<c-card-body>
        <h5 class="card-title opl ">About</h5>
      
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text">Petrol Pump management System @Copyright 2016
        Address: 40,Amrarapali Shopping Center,Opp.HDFC Back,
        Bopal Cross road,Bopal,Ahmedabad
        This is petrol pump management System software development and Licensed by Techup soft solution
      </p>
      <p class="card-text">web:www.techupsoftsolution.com email:dhaval3695@gmail.com
        Mobile:91-9099011665
        Call for demo +91-9099011665
      </p>
</c-card-body>
</c-card>
      <!-- <button class="btn-primary abc" type="button" (click)="submit()" >close</button> -->
    <!-- </div>
  </div> -->
  <!-- <c-card>
    <img cCardImg="top" src="./assets/img/angular.jpg">
    <c-card-body>
      <h5 cCardTitle>Card title</h5>
      <p cCardText>
        Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
      <button cButton color="light">Go somewhere</button>
    </c-card-body>
  </c-card> -->